@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(100% - 30px, 1000px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.spacebetween {
  justify-content: space-between;
}

.center {
  display: grid;
  place-items: center;
}

body {
  font-family: 'Nunito', sans-serif, Arial, sans-serif;
  background-color: #14161D;
}

ul {
  gap: 20px;
}

section {
  margin-top: 30px;
}

/*
  Header
*/

header {
  height: 60px;
  background-color: rgba(255 255 255 / 0.05);
}

.header-box {
  width: 150px;
}

h1 {
  font-size: 26px;
  font-weight: 500;
  color: #3E9CF6;
  line-height: 60px;
}

nav ul li {
  line-height: 60px;
  cursor: default;
  list-style: none;
}

a, .header-box i {
  transition: all 0.25s ease-in-out;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a {
  font-size: 18px;
  font-weight: 600;
}

nav ul li a:hover, .user i:hover {
  color: #3E9CF6;
}

.user {
  line-height: 60px;
  font-size: 26px;
  text-align: right;
}

/* dialog */

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

dialog h2 {
  text-align: center;
  color: #3E9CF6;
}

dialog div {
  font-size: 18px;
  margin-top: 5px;
}

/*
  Content
*/

/* form */

form {
  width: 600px;
  background-color: rgba(255 255 255 / 0.05);
  padding: 10px 15px;
  color: #fff;
  border-radius: 8px;
}

textarea {
  color: #fff;
  resize: none;
  width: 100%;
  height: 200px;
  background-color: transparent;
}

.form-bottom {
  position: relative;
  display: flex;
  height: 45px;
}

.image {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
}

.image i, .post {
  transition: all 0.25s ease-in-out;
}

.image i {
  font-size: 24px;
}

.image i:hover {
  color: #3E9CF6;
}

.image-input {
  display: none;
}

.post {
  width: 80px;
  height: 40px;
  background: #3E9CF6;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.post:hover {
  color: #3E9CF6;
  background-color: #fff;
}

/* posts */

.posts {
  width: 600px;
  padding: 10px;
  color: #fff;
}

.posts > div {
  margin-top: 10px;
  background-color: rgba(255 255 255 / 0.05);
  padding: 10px;
  border-radius: 5px;
}

.post-header {
  width: 100%;
}

.post-text {
  margin-top: 10px;
}

.post-image {
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
}

.date {
  color: #3E9CF6;
}

.author {
    align-items: center;
}

.author i {
  margin-right: 10px;
}
