@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(100% - 30px, 1000px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.spacebetween {
  justify-content: space-between;
}

.center {
  display: grid;
  place-items: center;
}

body {
  font-family: 'Nunito', sans-serif, Arial, sans-serif;
  background-color: #14161D;
}

ul {
  gap: 20px;
}

/*
  Header
*/

header {
  height: 60px;
  background-color: rgba(255 255 255 / 0.05);
}

.header-box {
  width: 150px;
}

h1 {
  font-size: 26px;
  font-weight: 500;
  color: #3E9CF6;
  line-height: 60px;
}

nav ul li {
  line-height: 60px;
  cursor: default;
  list-style: none;
}

a, i {
  transition: all 0.25s ease-in-out;
  color: #fff;
}

a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

nav ul li a:hover, .user i:hover {
  color: #3E9CF6;
}

.user {
  line-height: 60px;
  font-size: 26px;
  text-align: right;
}

/*
  Content
*/


